@using RaspberryDashboard.Repository
@inherits LayoutComponentBase    
@inject NetworkInfoService Net

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Style="height:100vh;">
    <MudMainContent Style="height:100%; overflow:hidden;">
        <div class="dashboard">
            @Body
        </div>
    </MudMainContent>
</MudLayout>  